<div class="sidebar">
	<ul class="sidebar__list">
		<a class="sidebar__list--items">Your exclusive clothing</a>
		<div class="sidebar__list--gap"></div>
		<a class="sidebar__list--items" routerLink="/dama">Dama</a>
		<a class="sidebar__list--items" routerLink="/hombre">Hombre</a>
		<a class="sidebar__list--items" routerLink="/niño">Niños</a>
		<a class="sidebar__list--items" routerLink="/zapatos">Zapatos</a>
	</ul>
	<div class="sidebar__networks">
		<img class="sidebar__networks--icons" src="../../assets/square-instagram-brands.svg" alt="Instagram">
		<img class="sidebar__networks--icons" src="../../assets/facebook-f-brands.svg" alt="Facebook">
		<img class="sidebar__networks--icons" src="../../assets/twitter-brands.svg" alt="Twitter">
	</div>
</div>
